@mixin font($type) {
  $family: null;
  $weight: null;
  $height: null;
  $size: null;
  @if $type == 'label-xl-bold' {
    $family: $typography-label-xl-bold-font-family;
    $weight: $typography-label-xl-bold-font-weight;
    $height: $typography-label-xl-bold-line-height;
    $size: $typography-label-xl-bold-font-size;
  } @else if($type == 'label-xl-regular') {
    $family: $typography-label-xl-regular-font-family;
    $weight: $typography-label-xl-regular-font-weight;
    $height: $typography-label-xl-regular-line-height;
    $size: $typography-label-xl-regular-font-size;
  } @else if($type == 'label-lg-bold') {
    $family: $typography-label-lg-bold-font-family;
    $weight: $typography-label-lg-bold-font-weight;
    $height: $typography-label-lg-bold-line-height;
    $size: $typography-label-lg-bold-font-size;
  } @else if($type == 'label-lg-regular') {
    $family: $typography-label-lg-regular-font-family;
    $weight: $typography-label-lg-regular-font-weight;
    $height: $typography-label-lg-regular-line-height;
    $size: $typography-label-lg-regular-font-size;
  } @else if($type == 'label-md-bold') {
    $family: $typography-label-md-bold-font-family;
    $weight: $typography-label-md-bold-font-weight;
    $height: $typography-label-md-bold-line-height;
    $size: $typography-label-md-bold-font-size;
  } @else if($type == 'label-md-regular') {
    $family: $typography-label-md-regular-font-family;
    $weight: $typography-label-md-regular-font-weight;
    $height: $typography-label-md-regular-line-height;
    $size: $typography-label-md-regular-font-size;
  } @else if($type == 'label-xs-bold') {
    $family: $typography-label-xs-bold-font-family;
    $weight: $typography-label-xs-bold-font-weight;
    $height: $typography-label-xs-bold-line-height;
    $size: $typography-label-xs-bold-font-size;
  } @else if($type == 'label-xs-regular') {
    $family: $typography-label-xs-regular-font-family;
    $weight: $typography-label-xs-regular-font-weight;
    $height: $typography-label-xs-regular-line-height;
    $size: $typography-label-xs-regular-font-size;
  }
  font-family: $family;
  font-weight: $weight;
  line-height: $height;
  font-size: $size;
}
